/* outer */
.dashboard.login-logo {
	width: 100px;
	pointer-events: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	user-select: none;
}

.dashboard.nav-wrap {
	display: flex;
	flex-direction: row;
}

.dashboard.content-wrap {
	padding: 1.5rem 3rem 2rem;
	margin-left: 5rem;
}

#logout-nav div svg.icon-tabler-logout {
	margin-left: 4.75px;
}

#logout-popout button svg.icon-tabler-logout {
	margin-left: 1.5px;
}

/* components use */
.dash-flex {
	display: flex;
	flex-direction: row;
}

.dash-flex-column {
	display: flex;
	flex-direction: column;
}

.dash-relative {
	position: relative;
}

#dash-add-new div span {
	margin-right: 4px;
}
