.dashboard.login-logo {
	width: 100px;
	pointer-events: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	user-select: none;
}

.dashboard.nav-wrap {
	display: flex;
	flex-direction: row;
}

.dashboard.content-wrap {
	padding: 1rem;
}

button svg.icon-tabler-logout {
	margin-left: 5px;
}
