/* ==================== GOOGLE FONTS ==================== */

@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800&display=swap");

/* ==================== Global Variable ==================== */
:root {
	/* ======= Margin and Width ======= */
	--body-margin: 17px;
	--main-margin: 20px;
	--section-margin: 37px;
	--width-aside: 215px;
	--width-icon: 16px;
	--size-icon-24: 24px;

	/* ======= Color ======= */
	--color-app-black: #000000;
	--color-app-white: #ffffff;
	--color-app-green: #99cf9a;
	--color-app-gray: #909296;
	--color-app-dark-gray: #1d1d1d;

	/* ======= Font and typography ======= */
	--body-font: "Raleway", sans-serif;

	/* .5rem = 8px, 1rem = 16px, 1.5rem = 24px ... */
	--title-font: 1.25rem;
	--content-font: 1rem;

	/* ======= z index ======= */
	--z-tooltip: 10;
	--z-fixed: 100;
	--z-modal: 1000;

	/* ======= Border height ======= */
	--border-thin: 0.5px;
	--border-thick: 3px;
}

/* ==================== Global Variable For Large and Extra Large Devices ==================== */
@media screen and (min-width: 992px) {
	:root {
		--body-margin: 60px;
		--main-margin: 110px;
		--section-margin: 82px;
		--width-icon: 32px;

		--title-font: 2rem;
		--content-font: 1.25rem;
	}
}

@media screen and (min-width: 1200px) {
	:root {
		--width-aside: 357px;
	}
}

/* ==================== Base Style ==================== */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html,
body {
	scroll-behavior: smooth;
}

body {
	margin: 0 auto;
	padding: 0 var(--body-margin);
	font-family: var(--body-font);
	font-size: var(--normal-font-size);
	background-color: var(--color-app-black);
	/* color: var(--color-app-white); */
	overflow-x: hidden;
}

h1 {
	font-size: var(--h1-font-size);
}

h2 {
	font-size: var(--h2-font-size);
}

h3 {
	font-size: var(--h3-font-size);
}

p {
	font-size: var(--normal-font-size);
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
}

img {
	max-width: 100%;
	height: auto;
}

.dark {
	background-color: var(--color-app-black);
	color: var(--color-app-white);
	border-color: var(--color-app-white);
}

.light {
	background-color: var(--color-app-white);
	color: var(--color-app-black);
	border-color: var(--color-app-black);
}

.border_gray {
	border-color: var(--color-app-gray);
}

.text_gray {
	color: var(--color-app-gray);
}

.text_dark_gray {
	color: var(--color-app-dark-gray);
}

.fs-title {
	font-size: var(--title-font);
	font-weight: 700;
}

.fs-text {
	font-size: var(--content-font);
	font-weight: 400;
}

.text_12 {
	font-size: 12px;
}

.border_top {
	border-top: solid;
	margin-top: var(--section-margin);
}

.thick {
	border-width: var(--border-thick);
}

.thin {
	border-width: var(--border-thin);
}

.img_40 {
	width: 40px;
	height: 40px;
}

.divider {
	height: 29px;
	border-bottom: 4px solid;
	z-index: calc(var(--z-fixed) + 2);
}

.toggleColorTheme {
	z-index: calc(var(--z-fixed));
}

/* ======= Card ======= */
.card {
	max-width: 100%;
	overflow: hidden;
}

.card__arrow {
	display: flex;
	flex-direction: column;
	position: absolute;
	right: 0;
	margin-right: var(--width-icon);
	margin-top: var(--width-icon);
	overflow: hidden;
	transform: translate(0);
	transition: all 0.3s ease-in-out;
	z-index: var(--z-fixed);
}

.card__arrow::before {
	content: url("/assets/icons/icon-right-top-arrow.svg");
	order: 2;
	position: relative;
	right: 26px;
	transform: translate(0);
	transition: all 0.3s ease-in-out;
}

.card__arrow::after {
	content: url("/assets/icons/icon-right-top-arrow.svg");
	order: 1;
	transform: translate(0);
	transition: all 0.3s ease-in-out;
}

.card:hover .card__arrow::before,
.card:hover .card__arrow::after {
	transform: translate(26px, -24px);
}

.card .card__img {
	max-height: 163px !important;
	object-fit: cover;
}

.card__overlay {
	background-color: var(--color-app-white);
	position: absolute;
	height: 100%;
	width: 100%;
	opacity: 0.7;
}

.card-body {
	color: var(--color-app-black);
}

.card:hover .card__overlay {
	opacity: 0.6;
}

.card-link > p {
	color: var(--color-app-black);
}

.card-title {
	font-size: 24px;
	font-weight: 800;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	overflow: hidden;
}

.card-text {
	font-size: 20px;
}

/* ======= Header Style ======= */

.navigation__container ul {
	border-bottom: 2px solid #1d1d1d;
}

.link-logo {
	color: inherit;
	font-weight: 800;
	font-size: 32px;
}

.link-logo:hover {
	color: inherit;
}

.navigation__container ul li a {
	color: inherit;
	font-size: 10px;
	width: 100%;
	height: 100%;
	display: block;
}

.navigation__container ul li {
	max-width: 110px;
}

.navigation__action img {
	width: 42px;
	height: 40px;
}

.navigation__toggler {
	flex-direction: column;
	align-items: flex-end;
	width: 42px;
	height: 40px;
	gap: 7px;
}

.navigation__toggler span {
	height: 4px;
}

.navigation__toggler span:nth-child(1) {
	width: 100%;
}

.navigation__toggler span:nth-child(2) {
	width: 75%;
}

.navigation__toggler span:nth-child(3) {
	width: 50%;
}

/* ======= Slider Left Style ======= */
#aside {
	position: fixed;
	height: 100%;
	/* background-color: var(--color-app-black); */
	width: var(--width-aside);
	transition: transform 1s ease-in-out;
	transform: translateX(100%);
	z-index: calc(var(--z-fixed) + 3);
	top: 0;
	right: 0;
}

#aside ul {
	position: relative;
	top: calc(29px + 25px);
	overflow-x: hidden;
	padding: 1rem 0;
}

#aside .aside__link {
	display: flex;
	column-gap: 4px;
	align-items: center;
}

#aside .aside__link::before {
	content: url("/assets/icons/icon-right-arrow.svg");
	width: var(--size-icon-24);
	transform: translateX(calc(var(--size-icon-24) * -1));
	transition: transform 0.3s ease-in-out;
}

#aside .aside__link span {
	transition: transform 0.3s ease-in-out;
	transform: translateX(calc(var(--size-icon-24) * -1));
}

#aside .aside__link:hover::before {
	transform: translateX(0);
}

#aside .aside__link:hover span {
	transform: translateX(0);
}

#aside .active .aside__link:before {
	content: url("/assets/icons/icon-right-arrow.svg");
	transform: translateX(0);
}

#aside .aside__link {
	font-weight: var(--font-semibold);
	font-size: 16px;
	color: inherit;
}

#aside .active .aside__link span {
	transform: translateX(0);
}

#aside .active .aside__link {
	font-weight: var(--font-extra-bold);
}

.open-slider {
	transform: translateX(0) !important;
}

/* ======= Main Style ======= */
main {
	display: flex !important;
	margin-top: var(--main-margin);
}

#main__container {
	width: 100%;
}

/* ====== Pagination ====== */
.pagination .page-link {
	background-color: transparent !important;
	border: none;
	color: var(--color-app-white);
	font-weight: 800;
	font-size: 32px;
}

.pagination .pagination__next {
	transform: rotate(180deg);
}

.pagination .pagination__arrow {
	max-width: 11px;
	max-height: 22px;
}

/* ===== Footer Style ===== */
#footer {
	padding-top: 40px;
}

.footer__organization {
	max-width: 322px;
}

/* =================== Global Animation =================== */
@keyframes fade-in {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes fade-out {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

@keyframes slide-right {
	0% {
		transform: translateX(-100%);
	}
	100% {
		transform: translateX(0);
	}
}

@media screen and (min-width: 768px) {
	.card .card__img {
		max-height: 500px !important;
	}

	.card-title {
		font-size: 32px;
		-webkit-line-clamp: 3;
	}

	.card-text {
		font-size: 24px;
	}

	.navigation__container ul {
		overflow: hidden !important ;
	}
}

@media screen and (min-width: 992px) {
	.card-title {
		-webkit-line-clamp: 4;
	}

	.navigation__container ul li a {
		font-size: 12px;
	}

	.navigation__action {
		border-bottom: 2px solid var(--color-app-dark-gray);
	}

	#aside {
		position: relative;
		height: unset;
		top: unset;
		right: unset;
		left: 0;
		transform: translateX(0);
		z-index: var(--z-fixed);
	}

	#aside ul {
		position: sticky;
	}

	#aside .aside__link {
		font-size: 24px;
	}

	#footer {
		padding-top: 80px;
	}
}

@media screen and (min-width: 1400px) {
	.card-title {
		font-size: 3rem;
	}

	.card-text {
		font-size: 36px;
	}
}
