/*==================== GOOGLE FONTS ====================*/

@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,700&display=swap");

/*==================== VARIABLES CSS ====================*/
:root {
	--header-height: 3rem;

	--color-background: #000000;
	--color-primary: #99cf9a;
	--color-text: #ffffff;
	/*========== Font and typography ==========*/
	--body-font: "Raleway", sans-serif;

	/* .5rem = 8px, 1rem = 16px, 1.5rem = 24px ... */
	--big-font-size: 2rem;
	--h1-font-size: 1.5rem;
	--h2-font-size: 1.25rem;
	--h3-font-size: 1.125rem;
	--normal-font-size: 0.938rem;
	--small-font-size: 0.813rem;
	--smaller-font-size: 0.75rem;

	/*========== Font weight ==========*/
	--font-medium: 500;
	--font-semi-bold: 600;

	/*========== Margenes Bottom ==========*/
	/* .25rem = 4px, .5rem = 8px, .75rem = 12px ... */
	--mb-0-25: 0.25rem;
	--mb-0-5: 0.5rem;
	--mb-0-75: 0.75rem;
	--mb-1: 1rem;
	--mb-1-5: 1.5rem;
	--mb-2: 2rem;
	--mb-2-5: 2.5rem;
	--mb-3: 3rem;

	/*========== z index ==========*/
	--z-tooltip: 10;
	--z-fixed: 100;
	--z-modal: 1000;
}

/* Font size for large devices */
@media screen and (min-width: 968px) {
	:root {
		--big-font-size: 3rem;
		--h1-font-size: 2.25rem;
		--h2-font-size: 1.5rem;
		--h3-font-size: 1.25rem;
		--normal-font-size: 1rem;
		--small-font-size: 0.875rem;
		--smaller-font-size: 813rem;
	}
}

/*==================== BASE ====================*/
* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html {
	scroll-behavior: smooth;
}

body {
	margin: 0 0 var(--header-height) 0;
	font-family: var(--body-font);
	font-size: var(--normal-font-size) !important;
	/* background-color: var(--color-background);
	color: var(--color-text); */
}

h1,
h2,
h3,
h4 {
	/* color: var(--title-color); */
	font-weight: var(--font-semi-bold);
}

a {
	text-decoration: none;
}

/* Header */
header {
	margin: 2rem 1rem;
}

.top-header {
	display: flex;
	justify-content: space-between;
	margin-bottom: var(--mb-1);
	margin-top: var(--mb-1);
}

.header-icon {
	display: flex;
	align-items: center;
}

.logo {
	height: 2rem;
	margin-right: var(--mb-1);
}

.menu {
	align-items: center;
}

.header-departemen {
	display: flex;
	align-items: center;
	justify-content: space-between;
	/* color: var(--color-text); */
	margin: var(--mb-1) 0 var(--mb-1);
}

.header-departemen a {
	/* color: var(--color-text); */
	color: inherit;
	font-size: 10px;
}

.top-hr {
	border-top: 3px solid;
}

.bottom-hr {
	border-bottom: 2px solid #1d1d1d;
}
